.Project {
    width: 450px;
    height: fit-content;
    border-radius: 2px;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
}

.Project img {
    width: 100%;
}

.Link {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    width: 150px;
    font-size: medium;
    padding: 10px;
    background-color: #ee6c4d;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 3px;
}

.Link:hover {
    background-color: #db5b3b;
    box-shadow: 1px 1px 5px 1px black;
}

.Buttons {
    margin-top: 10px;
}
