.App {
  text-align: center;
}

header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #eddcd2; */
  padding: 20px;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.logo {
  font-weight: 700;
  font-size: 21pt;
}
